/ErrorList/C#/bin/Debug/
/ErrorList/C#/obj/
/ErrorList/C#/packages/
/ErrorList/C#/.vs/
/ErrorList/C#/SpellChecker.csproj.user
/ErrorList/C#/SpellChecker.csproj.DotSettings.user
/ErrorList/C#/*.htm
/ErrorList/C#/SpellChecker.sln.DotSettings.user
/rascal-visual-studio-analysis-client/ErrorList/C#/.vs/*
/rascal-visual-studio-analysis-client/ErrorList/C#/*
/rascal-visual-studio-analysis-client/ErrorList/Client/bin/*
/rascal-visual-studio-analysis-client/ErrorList/Client/obj/*
/rascal-visual-studio-analysis-client/ErrorList/Server/bin/*
/rascal-visual-studio-analysis-client/ErrorList/Server/obj/*
