/ErrorList/C#/bin/Debug/
/ErrorList/C#/obj/
/ErrorList/C#/packages/
/ErrorList/C#/.vs/
/ErrorList/C#/SpellChecker.csproj.user
/ErrorList/C#/SpellChecker.csproj.DotSettings.user
/ErrorList/C#/*.htm
/ErrorList/C#/SpellChecker.sln.DotSettings.user
